@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.Paintings{
    width:70%;
    margin: 2rem auto;
    height:470px;
}

.slide img {
    width:20rem;
    margin:0 auto;
}

.slide {
    transform : scale(0.5);
    transition : transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform : scale(1.1);
    opacity:1;
}

.arrow{
    background-color:white;
    position:absolute;
    cursor:pointer;
    z-index:10;
}

.arrow svg {
    transition:color 300ms;
}
.arrow svg:hover{
    color: crimson;
}

.next{
    right:0%;
    top:50%;
}

.prev{
    left:0%;
    top:50%;
    background-color: pink;
}

@media screen and (max-width:600px) {
    .App {
        width:90%;
    }
    .slide img {
        width:10rem;
    }
}